#progressbar {
  width: 100%;
  background-color: #d8dae0;
  border-radius: 10px;
  padding: 2px;
  border: 2px solid #bbb2b2;
}

#progressbar>div {
  /* Adjust with JavaScript */
  background-color: #0040ff;
  width: 0;
  height: 10px;
  border-radius: 10px;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode:both;
}

//@keyframes progressBar {
//  0% { left:0;width: 0; }
//  50% { left:0;width: 100%; }
//  100% {left:100%;width: 0}
//}

